@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,700&display=swap');

:root {
  --color-primario: #0a0327;
  --color-secundario: #2F12C4;

  --font--inter: 'Inter', 'sans-serif';
  --font--openSans: 'Open Sans', 'sans-serif';
}